form {
  .metric-name {
    margin-left: 150px;
    width: 150px;
  }
}

.dashboard-metric {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  > a {
    display: block;
    width: 5em;
    padding-top: 2em;
    height: 5em;
    text-align: center;
    vertical-align: middle;
    border: solid 1px black;
    border-radius: 6px;
    &:hover {
      background-color: #ddf;
    }
  }
}

.recent-metrics {
  > .metric {
    > div {
      display: inline-block;
    }
    .metric-date { width: 150px; }
    .metric-name { width: 150px; }
  }
}

.confirmable {
  > .confirmation {
    display: none;
  }
  &.confirming {
    > .question {
      display: none;
    }
    > .confirmation {
      display: block;
    }
  }
}

.danger {
  color: red;
}

.link {
  cursor: pointer;
}

td {
  padding: 0 1em;
}

.table-per-month td.value {
  border: solid 1px black;
  width: 5em;
  text-align: right;
}

.table-per-month th {
  text-align: center;
}
